{% extends "base.html" %}

{%block headInclude %}
<link rel="stylesheet" href="/static/session.css" />
{% endblock %}


{% block content %}

{%if noConcepts%}
<br><br>
Concepts stores your completed ideas from the Home page. 
Fill in the ideas stored at Learn and manage them here.
{%endif%}

{% for c in concepts %}
<div class='conceptBubbleFull'>
	<div class='conceptBubbleLeft'>
		<div class='title'>{{c.name}}</div> 
		<div class='date'>{{c.date}}</div>
	</div>
	
	<div class='conceptBubbleRight'>
		{{c.text}}
	</div>
</div>
{%endfor%}

{% endblock %}
