{% extends "base.html" %}

{%block headInclude %}
<link rel="stylesheet" href="/static/queue.css" />
{% endblock %}


{% block content %}


<div id='queueWrapper'>
<form id="queueForm" action="">
	<div id='conceptTitle'>Concept Desired</div>
	<input id='queueText' type='text' name="concept"/>
</form>
</div>

{%if showConcept %}
<div id='showLastConcept'>{{submittedConcept}} submitted</div>
<script>
$(document).ready(function() {
 	$("#showLastConcept").fadeIn( 700 );
	setTimeout( function(){ $("#showLastConcept").fadeOut( 700 ); }, 2000 );
	//$("#showLastConcept").fadeOut( 700 );
	$("#queueText").focus();
	console.log( 'here' );
});
</script>
{%endif%}

{% endblock %}
