{% extends "base.html" %}


{% block content %}
<br>
<b>FAQ Page</b> <br><br>

<b>What should I use Codeplasm for?</b><br>
Codeplasm has been specially designed for you to play with and improve your
coding skills. It will also show you your comparative technical strenghts and
growth areas so you can plan future development, and also optionally allow
prospective employers to browse if you want a job.<br><br>


<b>Why did the chicken cross the road?</b><br>
Because he was a fucking rockstar.
<br>
<br>



{% endblock %}
