{% extends "base.html" %}

{%block headInclude %}
<link rel="stylesheet" href="/static/session.css" />
{% endblock %}


{% block content %}
<div id='timer'></div>
{% for c in concepts %}
<div class='conceptBubble' id='conceptBubble{{c.id}}'>
	<div class='conceptBubbleLeft'>
		<div class='title'>{{c.name}}</div> 
		<div class='date'>{{c.date}}</div>
		<input type='button' value='Save' class='saveButton' id='saveButton{{c.id}}'/>
	</div>
	
	<div class='conceptBubbleRight'>
		<textarea class='inputText' id='textArea{{c.id}}'>
			
		</textarea>
	</div>
</div>
<!-- submits entry and dissappears text! w00t productivity-->
<script>
console.log("trying to make for {{c.id}}");
$("#saveButton{{c.id}}").click(function() {
	console.log( 'click saveButton{{c.id}}');
	var postdata = 'text=' + $("#textArea{{c.id}}").val();
    console.log( postdata );
  	
  	$.ajax({
    type: "POST",
    url: "{% url learn.views.saveText conceptId=c.id %}",
    data: postdata,
    success: function(data) {
    	$("#conceptBubble{{c.id}}").hide( 'slow' );
    },
    error: function(request, status, exception) {
    	alert(status + " " + exception);
    },
   });
});

var clockGo = true;
var min = {{goal.length}};
var sec = 1;
function timer(){
	sec -= 1;
	if(sec == -1){
		min-=1;
		sec = 59;
	}
	if(min==-1){
		// do concluding stuff
		return;
	}
	var txt = "";
	if( min < 10 ){
		txt += ("0" + min + ":") 
	} else{
		txt += (min + ":")
	}
	if( sec < 10 ){
		txt+=("0"+sec)
	} else{
		txt+=sec
	}
	$("#timer").html( txt );
	if( clockGo == true ){
		setTimeout( "timer()", 1000 );
	}
}

$(document).ready(function() {
	console.log( 'doing doc ready');
	timer();
});

</script>

{%endfor%}

{% endblock %}
