{% extends "base.html" %}

{%block headInclude %}
<link rel="stylesheet" href="/static/settings.css" />
{% endblock %}


{% block content %}

<div id='calendarBlock'>
	{% for d in prevSettings %}
	<div class='perDaySetting'>
	<div class='dayTitle'>{{d.day}}{{d.minutes}}</div>
	<select id='{{d.day}}Select' class='lengthInput'>
		<option value="0"  {%if d.minutes == '0' %}selected{%endif%}> --- </option>
		<option value="15" {%if d.minutes == '15'%}selected{%endif%}>15 Minutes</option>
    	<option value="30" {%if d.minutes == '30'%}selected{%endif%}>30 Minutes</option>
		<option value="60" {%if d.minutes == '60'%}selected{%endif%}>60 Minutes</option>
	</select>		
	</div>
	
	{%endfor%}
	<div>
	<input type='button' id='saveButton' value='Save'/>
	</div>
</div>

	<!-- really need to start doing jquery buttons.... -->
<script>
$("#saveButton").click(function() {
  console.log( 'clicked Save');
  //collect from active tab - ugly but dont know javascript metaprogramming yet...
  var postdata = "";
  {% for d in prevSettings %}
  postdata+= "&{{d.day}}=".toUpperCase() + $("#{{d.day}}Select").val();
  {% endfor %}
  console.log( postdata );

  $.ajax({
    type: "POST",
    url: "{% url learn.views.saveSettings %}",
    data: postdata,
    success: function(data) {
    	console.log( "Success!" );
    },
    error: function(request, status, exception) {
    	alert(status + " " + exception);
    }
  });
});
</script>
{% endblock %}
