body{
font-family:Arial,Helvetica,sans-serif;
margin:0;
padding:0;
line-height: 1.1em;
background: #EdbE82;
}

.page_content{
width: 960px;
margin: 0 auto;
}

#topsection{
height: 50px; 
}

#topsection a{
color: #ffffff;
text-decoration: none;
}

.navigation{
float:right;
margin: 14px 20px 0 0;
font-size:90%;
font-weight:700;
line-height:1.0em;
}
.navigation a{
margin: 0 0 0 10px;
}



